/*Global Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body styling*/
body {
  margin: 0;
  height: 100vh;
  background: #2b2725;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*Styling for the whole Scene */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
}


/*Planet Ground surface*/

.planet {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 50vh;
  background: #f3f0dc;
  border-radius: 50%;
}


/*Main Astrnauts Body*/
.astronaut {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}


/*Astronauth helmet */
.helmet {
  width: 70px;
  height: 70px;
  border: 4px solid #d8d2b8;
  border-radius: 50%;
  margin: 0 auto;
}


/*Astronauts  Body*/
.body {
  width: 80px;
  height: 90px;
  background: #d8d2b8;
  border-radius: 15px;
  margin: -5px auto 0;
  position: relative;
}
