/*Global Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body styling*/
body {
  margin: 0;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*Styling for the whole Scene */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
}


/*Planet Ground surface*/

.planet {
  position: absolute;
  bottom: -240px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 50vh;
  background: #f3f0dc;
  border-radius: 50%;
}


/*Main Astrnauts Body*/
.astronaut {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}


/*Astronauth helmet */
.helmet {
  width: 70px;
  height: 75px;
  background: #d8d2b8;
  border: 4px solid #d8d2b8;
  border-radius: 50%;
  margin: 0 auto;
}

/*Inner helpmet*/
.helmet::after{
    content: '';
    position: absolute;
    background: #00000bf5;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    top: 4px;
    left: 5px;
}


/*Astronauts  Body*/
.body {
  width: 80px;
  height: 90px;
  background: #d8d2b8;
  border-radius: 15px;
  margin: -5px auto 0;
  position: relative;
}

/*Astro's Badge*/
.badge{
  width: 30px;
  height: 40px;
  background: #F0F0F0;
  z-index: 3s;
  position: absolute;
  bottom: 20px;
  justify-self: center;
}

/*Controls  on Badge*/
.dot{
  position: absolute;
  background: #000;
  width: 5px;
  height: 5px;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

/*Control lines */
.line {
  position: absolute;
  background: #000;
  width: 25px;
  height: 3px;
  left: 3px;
  bottom: 20px;
  border-radius: 50px;
}

.line::after {
  content: "";
  position: absolute;
  background: #000;
  width: 25px;
  height: 3px;
  right: 0px;
  top: 10px;
  border-radius: 50px;
}
/*
================
 Hands 
================
*/

/*LEFT Hand*/
.hand-left{
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    background:#d8d2b8;
    border-radius: 25px ;
    top:90px;
    right: 50px;
    rotate: 140deg;
}

/*Right Hand*/

.hand-right{
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    background:#d8d2b8;
    border-radius: 20px ;
    bottom:40px;
    left: 50px;
    rotate: -140deg;   

    /*Waving hand animation*/
    animation: wave 2s ;
}

/*
==========
LEGS
==========
*/

/*Left Leg*/
.leg-left{
    content: "";
    position: absolute;
    width: 35px;
    height: 80px;
    background: #d8d2b8;
    border-radius: 25px;
    bottom: -65px;
    left:2px;
}

/*Right Leg*/
.leg-right{
    content: "";
    position: absolute;
    width: 35px;
    height: 80px;
    background: #d8d2b8;
    border-radius: 25px;
    right:1px;
    top:145px;
}


/* Green Flag Styles*/
/* ==================
   FLAG
================== */

.flag {
  position: absolute;   
  right:80px;
  bottom: -65px;

  /*Tit the main flag contianer to be relative to ain astonauth contianer */
  transform: rotate(-198deg);
}

/* Flag pole */
.flag .pole {
  width: 6px;
  height: 170px;
  background: #b8b8b8;
  border-radius: 3px;
  position: absolute;
}

/* Flag cloth */
.flag .cloth {
  position: absolute;
  bottom: -165px;
  left: 6px;
  width: 70px;
  height: 50px;
  background: #7bbf6a;
  border-radius: 4px;
}



/*Creating starts spredung using radial gradients */
.scene::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(white 1px, transparent 3px),
    radial-gradient(white 1px, transparent 2px);
  background-size: 200px 200px, 300px 300px;
  box-shadow: 0px 0px 10px #f3f0dc;

  /*Add a twinkle animation*/
}


