/*Global Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body styling*/
body {
  margin: 0;
  height: 100vh;
  background: #2b2725;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*Styling for the whole Scene */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
}


